@inject AppDbContext db

@* Allies *@
<div class="w-50 m-1 p-1 border text-center">

    <h1 class="mb-1 text-primary">Allies - @AlliesFleet.Count Ships</h1>
    @foreach (var ship in AlliesFleet)
    {
        <div class="d-flex">
            <p class="">@ship.ShipName</p>
            <p class="ms-4 pe-2">@ship.Attack</p>
            <p class="ps-2 pe-2">@ship.Armor</p>
            <p class="ps-2">@ship.Speed</p>
        </div>
    }

</div>


@code 
{
    private List<Ship> AlliesFleet { get; set; } = new();

    protected override void OnInitialized()
    {
        AlliesFleet = db.Ships.Where(s => s.NavyId == 1).ToList();
    }

}
