<!-- Ship Tile Component -->

<div class="text-center ship-tile @_color @CssClass">

    <!-- Badge -->
    <span class="badge text-bg-danger target-badge"
          hidden="@(!IsTargeted(@Ship))">
        @Ship.IncomingAttackCount
    </span>

    <!-- ID -->
    <h6>@Ship.Side</h6>
    <h3><b>@Ship.ShipName</b></h3>
    <h6>@Ship.Type</h6>

    <!-- Capabilities -->
    <div class="d-flex justify-content-around mt-2">
        <p class="@(Ship.HasAttackBonus ? "attack-bonus" : "" )">@Ship.Guns</p>
        <p class="">@Ship.Armor</p>
        <p class="">@Ship.Speed</p>
        @if (Ship.Airstrike != 0)
        {
            <p class="ps-2">@Ship.Airstrike</p>
        }
    </div>

</div>

@code 
{
    [Parameter]
    public CombatShip Ship { get; set; } = new();

    [Parameter]
    public string CssClass { get; set; } = string.Empty;

    private string _color = string.Empty;

    protected override void OnParametersSet()
    {
        _color = Ship.NavyId switch
        {
            1 => "blue",
            2 => "red",
            3 => "green",
            4 => "yellow",
            _ => string.Empty
        };
    }

    private bool IsTargeted(CombatShip ship)
    {
        if (ship.IncomingAttackCount > 0)
        {
            return true;
        }
        return false;
    }
}
