
<div class="text-center shipTile @color">
    <h6>@Ship.Side</h6>
    <h3 class="strong">@Ship.ShipName</h3>
    <h6>@Ship.Type</h6>
    <div class="d-flex justify-content-between">
        <p class="@(Ship.HasAttackBonus ? "bonus" : "" )">@Ship.Guns</p>
        <p class="">@Ship.Armor</p>
        <p class="">@Ship.Speed</p>
        @if (Ship.Airstrike != 0)
        {
            <p class="ps-2">@Ship.Airstrike</p>
        }
    </div>

</div>


<style>
    .shipTile {
        width: 250px;
        height: 150px;
        margin: 2rem;
        padding: 1rem;
        border: 2px solid black;
    }

    .bonus {
        /* margin-bottom: .25rem; */
        padding: 0 .25rem;
        border: 1px solid black;
        border-radius: 20px;
    }

    .blue {
    background-color: blue;
    color: white;
    }
    .red {
    background-color: red;
    }
    .green {
    background-color: green;
    }
    .yellow {
    background-color: yellow;
    }
</style>


@code 
{
    [Parameter]
    public CombatShip Ship { get; set; } = new();

    private string color = string.Empty;

    protected override void OnParametersSet()
    {
        color = SetColor(Ship.NavyId);
    }

    private string SetColor(int navyId)
    {
        string color = string.Empty;
        switch (navyId)
        {
            // US
            case 1:
                color = "blue";
                break;
            // Japanese
            case 2:
                color = "red";
                break;
            // British
            case 3:
                color = "green";
                break;
            // Dutch + Austrailian
            case 4:
                color = "yellow";
                break;

            default:
                color = string.Empty;
                break;
        }

        return color;
    }
}
