@page "/"

<ConfirmationDialog 
    Title="Confirm Action"
    Message="This will clear all current match-ups.  Are you sure?"
    OnAction="ResetPairings">
</ConfirmationDialog>

<div id="page">

    <div id="sea-area" class="flex-column">

        <div id="top-bar">

            <!-- Get Ships -->
            <div class="button-group">
                <button 
                    id="start-button"
                    class="app-button" 
                    disabled="@_selecting"
                    @onclick="GetShips">
                    <b>Get Ships</b>
                </button>
            </div>

            <!-- Enter Selection Mode -->
            <div class="button-group">
                <button
                    id="selectButton" 
                    class="app-button" 
                    hidden="@_selecting" 
                    @onclick="StartSelecting">
                    <b>Pair Ships</b>
                </button>
            </div>

            <!-- Reset Pair -->
            <div class="button-group">
                <button 
                    id="reset-button" 
                    class="app-button" 
                    hidden="@(!_selecting)" 
                    data-bs-toggle="modal" 
                    data-bs-target="#dialogBox">
                    <b>Reset Pairs</b>
                </button>
            </div>

            <!-- Start Battle -->
            <div class="button-group">
                <button 
                    id="battle-button" 
                    class="app-button" 
                    hidden="@(!_selecting)" 
                    @onclick="ResolveCombat">
                    <b>Start Battle</b>
                </button>
            </div>

        </div>

        <div id="ship-box">

            @* Attacking Ships *@
            <div class="d-flex justify-content-around mt-4 pt-4 pb-4">
                @foreach (var ship in Aggressors)
                {   
                    <div @onclick="() => SelectShip(ship)">
                        <ShipTile 
                            Ship="ship" 
                            CssClass="@GetShipCss(ship)">
                        </ShipTile>
                    </div>             
                }
            </div>

            @* Defending Ships *@
            <div class="d-flex justify-content-around mt-4 pt-4">
                @foreach (var ship in Defenders)
                {
                    <div @onclick="() => SelectShip(ship)">
                        <span class="badge text-bg-danger"
                              hidden="@ship.IncomingAttackCount == 0">
                            @ship.IncomingAttackCount
                        </span>

                        <ShipTile 
                            Ship="ship" 
                            CssClass="@GetShipCss(ship)">
                        </ShipTile>
                    </div>             
                }
            </div>
         
        </div>

    </div>

    <div id="log-box">

        @* Combat Results *@
        <h4 class="text-center p-3">Combat Log</h4>
        <CombatLog Messages="BattleLogs" />

    </div>

</div>




 

