@page "/"
@using PacificBattle.Interfaces
@inject IFleetManager fm

<div>

    <div id="battlebox" class="d-flex justify-content-between m-auto p-2">

        @* Attack Ship *@
        <div class="flex-column text-center">
            <ShipTile Ship="Attacker"></ShipTile>
            <p>Total Damage: @Attacker.Damage.TotalDamage</p>
        </div>

        @* Combat Results *@
        <div class="flex-column">
            <h5 class=""><b>Combat Results</b></h5>
            <h6 class="">@Message</h6>
            <div class="text-center">
                @foreach (var log in Defender.Damage.DamageLogs)
                {
                    <p>@log</p>
                }
                <p>@Status</p>
            </div>
        </div>

        @* Defender Ship *@
        <div class="flex-column text-center">
            <ShipTile Ship="Defender"></ShipTile>
            <p>Total Damage: @Defender.Damage.TotalDamage</p>
        </div>

    </div>

    <div id="buttonbox" class="d-flex justify-content-between p-2">

        <div class="p-1">
            <button class="btn btn-danger m-1 p-3" @onclick="StartCombat" hidden="@(isResolved)"><b>Attack</b></button>
        </div>

        <div class="p-1">
            <button class="btn btn-success m-4 p-4" @onclick="GetShips" hidden="@(!isResolved)"><b>Get Ships</b></button>
        </div>

@*         <div class="p-1">
            <button class="btn btn-danger m-1 p-3" @onclick="StartCombat" hidden="@isFirstRound"><b>Attack</b></button>
        </div>
 *@
    </div>

</div>

<style>
    #battlebox {
    background-color: cyan;
    }
    #buttonbox {
    background-color: gray;
    }
</style>

@code 
{
    private bool isResolved;
    private bool isFirstRound;

    public CombatShip Attacker { get; set; } = new();
    public CombatShip Defender { get; set; } = new();
    public string Status { get; set; } = string.Empty;
    public string Message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        GetShips();
    } 

    private void Reset()
    {
        Status = string.Empty;
        Message = string.Empty;
        isFirstRound = true;
        isResolved = false;
    }

    private void GetShips()
    {
        Reset();
        Attacker = fm.BuildRandomShip(2);
        Defender = fm.BuildRandomShip(1);
    }

    private void StartCombat()
    {
        Message = $"{Attacker.ShipName} attacks {Defender.ShipName}";
        Attack(Attacker, Defender);
        if (isFirstRound) { Swap(); }
        isFirstRound = false;
    }

    private void Attack(CombatShip attacker, CombatShip target)
    {
        AttackCoordinator.Target = target;
        AttackCoordinator.ResolveAttack(attacker.Attack);
        DetermineStatus(target);
    }

    private void DetermineStatus(CombatShip target)
    {
        if (target.Damage.IsDisabled)
        {
            Status = $"{target.ShipName} has been disabled!";
        };
        if (target.IsSunk)
        {
            Status = $"{target.ShipName} has been sunk!";
        };
        isResolved = isFirstRound ? false : true;
    }

    private void Swap(){
        Defender.Damage.DamageLogs.Clear();
        CombatShip temp = Attacker;
        Attacker = Defender;
        Defender = temp;
    }
}