@page "/"
@inject AppDbContext db

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@foreach (var side in Sides)
{
    <li>@side.SideName</li>
}

@foreach (var ship in Ships)
{
    <li>@ship.ShipName @ship.Attack @ship.Armor @ship.Speed</li>
}

<h1 class="text-center text-danger">Let the Battle Begin!</h1>

@code
{
    private List<Side> Sides = new();
    private List<Ship> Ships = new();

    protected override void OnInitialized()
    {
        Sides = db.Sides.ToList();
        Ships = db.Ships.Where(x => x.Turn == 1 && x.NavyId == 2).ToList();
    }
}